
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

a {
    color: #fff;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}