.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    card {
        border:1px solid #333;
        padding: 40px;
        display: grid;
        grid-template-columns: 100px; 
        gap: 10px;
        * {
            margin:0;
        }
        img {
            grid-column: 1;
            grid-row-end: span 2;
        }
        h2{
            grid-column: 2;
            grid-row: 1;
        }
        p {
            grid-column: 2;
            grid-row:2;
        }
        div {
            margin-top:20px;
            grid-column-end: span 3;
            grid-row: 3;
        }

    }
}